/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav .brand-logo, .djkg{
  position:relative;
  float: left;
}
#turntable1{
  display: flex;
  height: 200px;
  float: left;
  border: 2px solid;
}
#turntable2{
  display: flex;
    height: 200px;
  float: right;
  border: 2px solid;

}
#inbetween{
  display: flex;
    height: 200px;
  border: 2px solid;
}

#copyright{
  height: 80px;
  vertical-align: baseline;;
}
footer.page-footer{
  padding-top: 0px;
}
.dials{
  float: right;
}
.row{
  margin-bottom: 0px;
}
.folders{
  border: 2px solid;
  height: 300px;
}
/*spotifys album art fetcher!*/
#search-form, .form-control {
    margin-bottom: 20px;
}
.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}
