/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav .brand-logo, .djkg{
padding-left: 10px;
}
#turntable1{
  display: flex;
  height: 250px;
  float: left;
  border: 2px solid;
  padding-right: 0px;
}
#turntable2{
  display: flex;
    height: 250px;
  float: right;
  border: 2px solid;
  padding-left: 0px;
}
#inbetween{
  display: flex;
  height: 250px;
  /*border: 2px solid;*/
  bottom: auto;
  min-width: 100px;
}

#copyright{
  height: 80px;
  vertical-align: baseline;
}
footer.page-footer{
  padding-top: 0px;
}
.dials{
  float: right;
}
.tablepic{
  width: 70%;
}
.row{
  margin-bottom: 0px;
}
.folders{
  border: 2px solid;
  height: 300px;
}
/*spotifys album art fetcher!*/
#search-form, .form-control {
    margin-bottom: 20px;
}
.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}
.img{
  height: 100%;
  width: 100%;
}
.bpm .row{
display: flex;
border: 2px solid;
}
.dials{
  padding-top: 3rem;
  vertical-align: middle;
}
